$base00: #282828;
$base01: #3a3735;
$base08: #cc241d;
$base0B: #98971a;
$base0A: #d79921;
$base09: #d65d0e;
$base0D: #458588;
$base0E: #b16286;
$base0C: #689d6a;
$base03: #a89984;
$base05: #ebdbb2;

// Global Styles
.bar {
  background-color: $base00;
  color: $base05;
  padding: 2px 8px;
}

.leftbar {
  .launcher {
    all: unset;

    &:hover {
      color: $base09;
    }
  }

  .workspaces {
    margin-left: 8px;

    button {
      all: unset;
      padding: 0px 6px;
      margin: 0px 2px;
      background-color: $base01;
      border-top: 2px solid $base00;
      border-bottom: 2px solid $base00;
      opacity: 0.6;

      &:hover {
        color: $base0A;
      }

      &.active {
        border-bottom: 2px solid $base0A;
        opacity: 1;
      }

      &.urgent {
        color: $base08;
      }
    }
  }
}

.rightbar {
  .audio {
    margin-right: 4px;

    .audio-button {
      all: unset;

      &:hover {
        color: $base0A;
      }
    }

    slider {
      background-color: $base03;
      min-height: 10px;
      min-width: 10px;
    }

    scale {
      all: unset;
      margin-left: 4px;

      trough {
        min-height: 3px;
        min-width: 80px;

        highlight {
          background-color: $base0A;
          border-radius: 10px;
        }
      }
    }
  }

  .temps {
    margin-right: 8px;

    .cpu,
    .gpu {
      padding-right: 4px;
    }

    .cpu {
      color: $base09;
    }

    .gpu {
      color: $base0A;
    }

    .ram {
      color: $base0C;
    }
  }

  .locale {
    margin-right: 8px;
  }

  .tray {
    margin-right: 8px;
  }
}
