// bg #282828;
// bg2 #3a3735;
// red #cc241d;
// green #98971a;
// yellow #d79921;
// blue #458588;
// purple #b16286;
// aqua #689d6a;
// gray #a89984;
// fg #ebdbb2;

* {
  /* all: unset; // Unsets everything so you can style everything from scratch */
  border-radius: 0;
}

.calendar-closer {
  background-color: transparent;
}

// Global Styles
.bar {
  background-color: transparent;
  color: #ebdbb2; // fg
  padding: 0px 8px;
  font-size: 12px;
}

.workspaces button:hover {
  color: #ebdbb2; // fg
}

.workspaces button {
  all: unset;
  padding: 0px 6px;
  background-color: #282828; // bg
  color: #a89984; // gray
}

.workspaces button.active {
  color: #ebdbb2; // fg
  background-color: #d79921; // yellow
}

.workspaces button.urgent {
  color: #cc241d; // red
}

.separator {
  color: #ebdbb2; // fg
  margin: 0px 5px;
}

.audio-icon,
.temps-icon,
.date-icon,
.systray-icon {
  color: #282828; // bg
  background-color: #ebdbb2; // fg 
  padding: 0px 5px;
  margin-right: 5px;
  font-size: 16px;
}

.gpu {
  margin-left: 5px;
  padding-right: 5px;
}

.metric * {
  all: unset;
}

.date-icon {
  padding-right: 4px;
}

.metric scale trough highlight {
  background-color: #d79921; // yellow
  border-radius: 10px;
}

.metric scale trough {
  background-color: #282828; // bg
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin: 0px 5px;
}

.systray,
.temps,
.audio,
.date {
  background-color: #3a3735; // bg2
  border: 2px solid #ebdbb2; // fg
  padding-right: 5px;
}

.leftsidestuff {
  border: 2px solid #ebdbb2; // fg
  background-color: #3a3735; // bg2
}

.launcher {
  all: unset;
  background-color: #ebdbb2; // fg
  padding: 0px 5px;
  color: #282828; // bg
  font-size: 18px;
}

.launcher:hover {
  color: #d79921 // yellow
}

.workspaces {
  margin-left: 10px;
}

.systray {
  all: unset;
  background-color: #3a3735; // bg2
  border: 2px solid #ebdbb2; // fg
  margin-right: 10px;
  padding-right: 5px;
}

.systray * {
  -gtk-icon-transform: scale(0.8);
}

.systray-icon {
  padding-right: 4px;
}
