@import "./themes/gruvbox/dark.css";

* {
  /* all: unset; this fixes the extra padding, but removes all the gtk styles related to tray */
  font-size: 12px;
}

window#waybar {
  background: transparent;
}

/* Modules */
#custom-launcher,
#workspaces,
#taskbar,
#window,
#custom-hardware,
#tray,
#custom-info {
  border-radius: 4px;
  padding: 0px 12px;
  margin: 6px;
  margin-bottom: 0px;
  background-color: @background;
  color: @foreground;
}

#custom-launcher {
  font-size: 16px;
  font-weight: bold;
  background-color: @color3;
  color: @background;
}

#custom-launcher:hover {
  color: @color1;
  background-color: @color0;
}

#taskbar button {
  padding: 6px;
}

#taskbar button:hover {
  background-color: @color0;
  border-radius: 0px;
}

#workspaces {
  background-color: @background;
}

#workspaces button {
  color: @foreground;
  padding: 6px;
  border-radius: 0px;
}

#workspaces button.active {
  color: @color3;
}

#workspaces button:hover {
  background-color: @color0;
}

@keyframes blink {
  to {
    color: @foreground;
  }
}

#workspaces button.urgent {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: @color1;
}

#window {
  color: @color3;
  font-weight: bold;
  opacity: 0.9;
}

#custom-hardware {
  color: @foreground;
  background-color: @background;
}

#custom-cpu {
  color: @color5;
}
#custom-gpu {
  margin-left: 12px;
  color: @color6;
}

#clock {
  margin-left: 12px;
  color: @foreground;
}

#pulseaudio {
  color: @foreground;
}
