@import "./themes/catppuccin/mocha.css";

* {
  font-size: 14px;
}

window#waybar {
  background: @surface3;
  border-radius: 3px;
  border: 2px solid @mauve;
}

#hardware {
  margin-left: 12px;
}

#hardware * {
  margin: 0px 4px;
}

#hardware #custom-cpu {
  color: @green;
}

#hardware #custom-gpu {
  color: @red;
}

#hardware #backlight {
  color: @yellow;
}

#hardware #pulseaudio {
  color: @teal;
}

#hardware #battery {
  color: @peach;
}

#software {
  padding: 2px 8px;
  background: transparent;
  border-bottom: 2px solid @mauve;
  border-top: 2px solid @mauve;
}

#software #network {
  margin-left: 4px;
}

#clock {
  margin: 0px 12px;
  color: @flamingo;
}

#taskbar {
  margin: 0px 12px;
  padding: 0px;
  border-radius: 3px;
  border-top: 2px solid @mauve;
  border-bottom: 2px solid @mauve;
}

#taskbar button {
  border-radius: 0px;
  transition: all 0.3s;
  padding: 1px 2px 0px 4px;
  margin: 0px;
  opacity: 0.3;
  background: transparent;
}

#taskbar button.active {
  background: transparent;
  opacity: 1;
}

#taskbar button:hover {
  background: @surface3;
  opacity: 0.8;
}

#custom-launcher {
  font-size: 16px;
  color: @blue;
  padding: 0px 12px;
}

#custom-launcher:hover {
  color: @red;
}

#workspaces {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 2px solid @mauve;
  border-bottom: 2px solid @mauve;
}

#workspaces button {
  padding: 4px;
  border-radius: 0px;
}

#workspaces button.active {
  background: @blue;
  color: @base;
}

#window {
  color: @blue;
}
