@import "./themes/catppuccin/mocha.css";

* {
  font-size: 14px;
}

window#waybar {
  /* background: @surface3; */
  /* border-bottom: 2px solid @mauve; */
  /* padding: 0px 20px; */
  border-radius: 3px;
}

#hardware {
  margin-left: 12px;
}

#hardware * {
  margin: 0px 4px;
}

#hardware #custom-cpu {
  color: @green;
}

#hardware #custom-gpu {
  color: @red;
}

#hardware #backlight {
  color: @yellow;
}

#hardware #pulseaudio {
  color: @teal;
}

#hardware #battery {
  color: @peach;
}

#software {
  margin-bottom: 2px;
  padding: 2px 8px;
  background: @base;
  border-left: 2px solid @mauve;
  border-right: 2px solid @mauve;
}

#clock {
  margin: 0px 12px;
  color: @flamingo;
}

#apps #taskbar {
  margin-left: 12px;
  background: @base;
}

#apps #taskbar button {
  border-radius: 0px;
  transition: all 0.3s;
  border-bottom: 2px solid transparent;
  padding: 0px 4px;
}

#apps #taskbar button.active {
  border-bottom: 2px solid @peach;
}

#apps #taskbar button:hover {
  border-bottom: 2px solid @red;
}

#apps #custom-launcher {
  font-size: 16px;
  color: @blue;
}

#apps #custom-launcher:hover {
  color: @red;
}

#workspaces {
  background: @base;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#workspaces button {
  padding: 0px 4px;
  font-size: 14px;
  border-radius: 0px;
  transition: all 0.3s;
  border-bottom: 2px solid transparent;
}

#workspaces button:first-child {
  /* border-top-left-radius: 3px; */
  /* border-bottom-left-radius: 16px; */
}

#workspaces button.active {
  border-bottom: 2px solid @peach;
}

#workspaces button:hover {
  border-bottom: 2px solid @red;
}
