configuration{
    modi: "drun";
    font: "Cantarell Regular 12";
    show-icons: true;
    terminal: "st";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: false;
    display-drun: "󱘶 ";
    sidebar-mode: false;
}

@theme "./themes/gruvbox.rasi"
