window {
  border-radius: 14px;
  border: 2px solid #c4a7e7;
  opacity: 0.98;
}

#scroll {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  padding: 10px 0;
}

#entry {
  margin: 2px 5px;
  padding: 4px 5px;
  border-radius: 14px;
  font-size: 14px;
}

#entry:selected {
  border: none;
  outline: none;
}

#text {
  margin: 5px;
}

#input {
  margin: 1px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border: none;
  font-size: 16px;
  padding: 10px;
  border-bottom: 2px solid #c4a7e7;
}
